 <!-- Pie de pagina -->
 <footer class="container-fluid bg-dark text-light py-4 custom-footer">
  <div class="container">
           <div class="row">
             <div class="col">
               <h3>Información</h3>
               <p>Teléfono: 123-456-7890</p>
               <p>Email: info@example.com</p>
             </div>
             <div class="col">
               <h3>Sobre nosotros</h3>
               <p>Somos una empresa que se dedica a ayudar y facilitar el uso de las tecnologías para aquellas personas que carecen de conocimientos informáticos</p>
             </div>
             <div class="col">
               <h3>Síguenos en redes sociales</h3>
               <ul class="social-media">
                 <li><a href="https://www.facebook.com"><i class="fa fa-facebook">FACEBOOK</i></a></li>
                 <li><a href="https://www.twitter.com"><i class="fa fa-twitter">TWITTER</i></a></li>
                 <li><a href="https://www.instagram.com"><i class="fa fa-instagram">INSTAGRAM</i></a></li>
               </ul>
             </div>
           </div>
         </div>
       </footer>

