<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
      .navbar-custom {
  background-color: rgb(127, 246, 255);
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #666;
}

.form-control {
  background-color: #eee;
  border: 1px solid #ccc;
}

.navbar-custom .nav-link {
  color: #FF0000;
  font-weight: bold;
}

    </style>
</head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-custom">
        <a class="navbar-brand ml-auto" href="#">
          <img src="https://cdn.logo.com/hotlink-ok/logo-social.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
      
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Tutoriales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blogs</a>
            </li>
          </ul>
        </div>
      
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login ">
              <button type="button" class="btn btn-secondary">Iniciar sesión</button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register">
              <button type="button" class="btn btn-secondary">Crear cuenta</button>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Selecciona tu idioma
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Castellano</a>
              <a class="dropdown-item" href="#">Catalán</a>
              <a class="dropdown-item" href="#">Inglés</a>
              <a class="dropdown-item" href="#">Chino</a>
            </div>
          </li>
        </ul>
      
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </nav>
      