<!-- Carrusel -->
<h1>CARRUSEL</h1>
<div class="container-fluid p-0 bg-success">
    <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner justify-content-center text-center" id="img-carousel">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target=".carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target=".carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- Productos -->
<h1>PRODUCTOS</h1>
<div class="container-fluid px-5 pb-5" id="productos">
    <div id="card-row" class="row justify-content-around">
    </div>
</div>

<!-- Promoción 1 -->
<h2>PROMOCIÓN</h2>
<div class="bg-dark text-light p-0" id="promocion">
    <img class="img-fluid w-100" src="assets/img/promocion1.webp" alt="">
</div>