<app-navbar *ngIf="mostrarNavbar"></app-navbar>
<!-- About Us -->
<div class="container-fluid bg-light text-center p-5">
  <h2>Nuestra Historia</h2> <br>
  <div class="row justify-content-around">
    <div class="col-3">
      <img class="img-fluid" src="assets/img/Perfiles/Felipe.webp" alt="">
    </div>
    <div class="col-3">
      <img class="img-fluid" src="assets/img/Perfiles/raul.webp" alt="">
    </div>
    <div class="col-3">
      <img class="img-fluid" src="assets/img/Perfiles/matias.webp" alt="">
    </div>
  </div>
</div>
<!-- Descripción -->
<div class="container-fluid bg-light p-5">
  <div class="container rounded bg-dark text-light p-5">
    <h3 class="justify text-light">
      Queremos facilitar la via a personas que necesitan ayuda con sus dispositivos tecnológicos y quieran aprender a
      usarlos o quieran realizar alguna tarea específica.
      <br>
      Por eso, hemos creado SimpleDigital. Aquí reunimos los mejores tutoriales y guías para tareas sencillas como
      insatalar aplicaciones o modificar algunso ajustes, o algunas más complejas como aprender a crear una página web.
      <br>Te queremos explicar el funcionamiento de la página.
      <br>
      En la barra azul de arriba encontrarás el botón " ¿cómo funciona SimpleDigital? " mediante el cual, siempre que
      quieras, podrás volver a este mismo tutorial en caso de que te surja alguna duda.
      <br><br>
      Al lado tienes la sección "Últimos tutoriales", mediante la cula podrás ver los útlimos tutoriales subidos a la
      página. Allí, podrás filtrar las guías por fecha de publicación, por tipo de dispositivo o por temática.
    </h3>
  </div>
  <app-footer *ngIf="mostrarFooter"></app-footer>