<app-navbar *ngIf="mostrarNavbar"></app-navbar>

<!-- About Us -->
<div class="container-fluid bg-light text-center p-5">
  <h2>Nuestra Historia</h2> <br>
  <div class="row justify-content-around">
    <div class="col-3">
      <img class="img-fluid" src="assets/img/Perfiles/Felipe.webp" alt="">
    </div>
    <div class="col-3">
      <img class="img-fluid" src="assets/img/Perfiles/raul.webp" alt="">
    </div>
    <div class="col-3">
      <img class="img-fluid" src="assets/img/Perfiles/matias.webp" alt="">
    </div>
  </div>
</div>
<!-- Descripción -->
<div class="container-fluid bg-light p-5">
  <div class="container rounded bg-dark text-light p-5">
    <h3 class="justify text-light">
      Hace unos años, dos amigos jóvenes y apasionados por la gastronomía, Felipe y Matias, <br>
      se conocieron en una feria de comida en Barcelona. Ambos compartían un amor por las
      hamburguesas y soñaban en tener su propio restaurante de comida rápida. <br>
      <br>
      Fue entonces cuando decidieron buscar a un experto en hostelería para unirse a su aventura.
      Con la incorporación de Raul, un veterano en la industria, la exitosa cadena de hamburguesas, <br>
      Burguer Frenzy, nació. <br>
      <br>
      Desde el principio, Burguer Frenzy se comprometió a ofrecer la mejor calidad de ingredientes <br>
      en sus hamburguesas, utilizando solo productos locales y frescos. La creatividad en las recetas <br>
      y la excelente atención al cliente, fueron valores fundamentales de la empresa, los cuales se
      mantienen hasta el día de hoy. <br>
      <br>
      Los restaurantes de Burguer Frenzy están decorados con un ambiente festivo, acompañados <br>
      de música rock and roll, que brinda una experiencia única y divertida para los comensales. <br>
      La innovación en la preparación de las hamburguesas es una constante en la cadena de
      restaurantes, lo que ha asegurado la lealtad y preferencia de los clientes. <br>
      <br>
      Hoy en día, Burguer Frenzy es uno de los restaurantes más populares en la ciudad gracias a su
      dedicación y pasión por la comida. Su éxito no solo se basa en la calidad de sus ingredientes y <br>
      la creatividad en las recetas, sino también en su compromiso con el cliente, garantizando una
      experiencia inolvidable en cada visita. <br>
      <br>
      Si buscas una hamburguesa deliciosa y auténtica en un ambiente divertido y acogedor, <br>
      Burguer Frenzy es el lugar perfecto para ti. ¡Te esperamos! <br>
    </h3>
  </div>
  <app-footer *ngIf="mostrarFooter"></app-footer>