<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 left-column">
            <div class="foto-logo">
                <img src="/assets/img/logo.png" alt="foto del logo" class="img-fluid">
            </div>
            <div class="foto-login">
                <img src="/assets/img/login.png" alt="foto del login" class="img-fluid">
            </div>
        </div>

        <div class="col-md-7 order-md-last right-column">
            <form class="form" (ngSubmit)="login()" [formGroup]="loginForm" id="login">
                <h1>Inicia sesión</h1><br>
                <button class="form-control">
                    <img src="https://static.typingclub.com/m/website/authen/google.svg" class="img-fluid"
                        style="width: 20px;">
                    <span>Inicia sesión con Google</span>
                </button>
                <br>
                <h5>O</h5>
                <br>

                <label for="email">Correo electrónico</label>
                <input type="email" formControlName="email" placeholder="hola@ejemplo.com" class="form-control"
                    id="email">
                <br>
                <label for="contraseña2">Contraseña:</label>
                <input [type]="mostrarContrasena ? 'text' : 'password'" formControlName="password"
                    placeholder="Contraseña" class="form-control" id="contraseña">
                <br>
                <input type="checkbox" id="checkbox" (change)="MostrarContrasenaLogin()">
                <label for="checkbox">Mostrar Contraseña</label>
                <a href="http://" target="_blank" rel="noopener noreferrer">¿Olvidaste tu contraseña?</a>
                <br><br><br>

                <button type="submit" class="btn btn-dark button-login">Enviar</button><br><br>

                <p>(¿Todavía no tienes cuenta? Regístrate <a href="register">aquí</a>)</p><br><br>
            </form>

        </div>
    </div>
</div>