<!-- Log in-->

<div class="container">

    <div class="row">
        <div class="col-md-5 order-md-first">
            <img src="https://i.postimg.cc/nhm3hLLp/hamburguesa-triple.jpg" alt="logo" class="img-fluid mx-auto"
                style="border-radius: 10%;">

        </div>
        <div class="col-md-6 order-md-last">
            <h2>Iniciar Sesion en Burguer Frenzy</h2><br>
            <form [formGroup]="fg" (ngSubmit)="submit()" id="login">
                <label for="email"></label>
                <input type="email" formControlName="email" name="email" placeholder="Tu email" class="form-control"
                    id="email">
                <label for="contraseña2"></label>
                <input type="password" formControlName="password" name="password" placeholder="Contraseña"
                    class="form-control" id="contraseña2">
                <input type="checkbox" class="form-check-input" id="boton1">
                <label for="boton1" class="form-check-label">Mostrar contraseña </label><br><br>
                <button type="submit"  class="btn btn-dark form-control"
                    [disabled]="fg.invalid">Iniciar
                    Sesion</button> <br> <br>
                <p>¿Todavía no tienes cuenta? <a style="color: black;" href="register">Regístrate</a></p><br><br>
            </form>
        </div>
    </div>

</div>

<script src="login.js"></script>

<router-outlet></router-outlet>