<app-navbar *ngIf="mostrarNavbar"></app-navbar>
<!-- Registrer-->

<div class="container-fluid">
    <div class="row">

        <div class="col-md-5 order-md-first left-column">
            <div class="foto-logo">

                <img src="/assets/img/logo.png" alt="foto del logo " class="img-fluid">
            </div>
            <div class="foto-login">

                <img src="/assets/img/register.png" alt="foto del login" class="img-fluid">
            </div>

        </div>

        <div class="col-md-7 order-md-last right-column">
            <form [formGroup]="registerForm" (ngSubmit)="register()" class="form" id="register">
                <h1>Regístrate</h1>
                <h4>¡Es gratis!</h4>
                <br>
                <button class="form-control">
                    <img src="https://static.typingclub.com/m/website/authen/google.svg" class="img-fluid"
                        style="width: 20px;">
                    <span>Inicia sesión con Google</span>
                </button>
                <br>
                <h5>O</h5>
                <br>
                <label for="firstName">¿Cómo te llamas?</label>
                <br>
                <input type="text" formControlName="firstName" id="firstName" name="firstName" placeholder="Nombre"
                    class="form-control">
                <br>
                <label for="lastName">Apellidos</label>
                <br>
                <input type="text" formControlName="lastName" id="lastName" name="lastName" placeholder="Apellidos"
                    class="form-control">
                <br>
                <label for="email">¿Cuál es tu correo electrónico?</label>
                <br>
                <input type="email" formControlName="email" name=" email" placeholder="hola@ejemplo.com"
                    class="form-control" id="email">
                <br>
                <label for="password">Introduce tu contraseña:</label>
                <br>
                <input [type]="mostrarContrasena ? 'text' : 'password'" formControlName="password" name="password" placeholder="*************"
                    class="form-control" id="password">

                <br>
                <input type="checkbox" id="checkbox" (change)="MostrarcontrasenaRegister()">
                <label for="checkbox">Mostrar Contraseña</label>
                <br>

                <input type="checkbox" id="checkbox">
                <label for="checkbox">Acepto los términos y condiciones de uso</label>
                <br><br>

                <button type="submit" class="btn btn-dark  button-register">Enviar</button><br><br>

                <p>(¿Ya eres miembro? Inicia sesión <a href="login">aquí</a>)</p><br><br>
            </form>

        </div>
    </div>

</div>
<app-footer *ngIf="mostrarFooter"></app-footer>